#phillips {
  top: 36.1%;
  left: 16%;
  width: 4%;
  height: 1.5%;
}
#folsom {
  top: 42.1%;
  left: 11.4%;
  width: 4%;
  height: 1.5%;
}
#nevaquaya {
  top: 28.1%;
  left: 17.5%;
  width: 5%;
  height: 2.5%;
}
#newbyCoker {
  top: 17.7%;
  left: 15.5%;
  width: 5.5%;
  height: 1.7%;
}
#bailey {
  top: 17.4%;
  left: 24.5%;
  width: 3.5%;
  height: 1.7%;
}
#kaufman {
  top: 25.2%;
  left: 27%;
  width: 5.5%;
  height: 1.7%;
}
#hill {
  top: 25.2%;
  left: 37.8%;
  width: 3.5%;
  height: 1.7%;
}
#cavin {
  top: 92%;
  left: 73.4%;
  width: 3.5%;
  height: 1.5%;
}
#judd_medallion {
  top: 31.1%;
  left: 13%;
  width: 7%;
  height: 1.5%;
}
#judd_pushmataha {
  top: 88%;
  left: 70%;
  width: 7.5%;
  height: 1.5%;
}
#marshall {
  top: 27.1%;
  left: 20.5%;
  width: 4%;
  height: 2%;
}
#umsted {
  top: 54.7%;
  left: 26.4%;
  width: 9%;
  height: 1.5%;
}
#umsted_2 {
  top: 25.4%;
  left: 57%;
  width: 9%;
  height: 2.5%;
}
#smalling {
  top: 80.5%;
  left: 59%;
  width: 4.3%;
  height: 2.5%;
}

.box-name {
  font-size: 0.12rem;
  margin-right: 1px;
  -webkit-backface-visibility: hidden;
  -ms-transform: translateZ(0); /* IE 9 */
  -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
  transform: translateZ(0);
  -webkit-filter: blur(0px);
}

.map {
  margin: auto;
  object-fit: contain;
  height: 100%;
  width: 100%;
}
