@font-face {
  font-family: "RefrigeratorDeluxe";
  src: url("/fonts/RefrigeratorDeluxe-Heavy.ttf");
  font-display: swap;
}

@font-face {
  font-family: "MyriadPro";
  src: url("/fonts/MyriadPro-Regular.otf");
  font-display: swap;
}

body {
  background-color: #000;
}

p {
  font-family: 'MyriadPro', Arial, sans-serif;
  margin-bottom: 15px;
  font-size: 16px;
}

h1 {
  font-family: 'RefrigeratorDeluxe', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
}
h2 {
  font-family: 'RefrigeratorDeluxe', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
}
h3 {
  font-family: 'RefrigeratorDeluxe', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
}
h4 {
  font-family: 'RefrigeratorDeluxe', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
}
h5 {
  font-family: 'RefrigeratorDeluxe', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
}

.drink-thumb {
  width: 65px;
  height: auto;
}
.snap-thumb {
  width: 65px;
  height: auto;
}

.map-container {
  height: calc(100vh - 79.81px);
}

.map-wrapper {
  height: calc(100vh - 79.81px);
}

.react-transform-wrapper {
  /* height: calc(100vh - 79.81px) !important; */
  height: 100% !important;
  width: 100% !important;
  -webkit-filter: blur(0px);
}

.react-transform-component {
  transform: translate3d(-677.41px, -761.3px, 0px) scale(12);
}

.react-transform-wrapper img{
  -webkit-backface-visibility: hidden;
  -ms-transform: translateZ(0); /* IE 9 */
  -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
  transform: translateZ(0);
  -webkit-filter: blur(0px);
  width: 9000px;
  height: auto !important;
  max-width: 9000px;
}

.tools {
  position: absolute;
  z-index: 10;
  bottom: 10px
}

.video-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.react-player__preview {
  position: absolute;
  top: 0;
  left: 0;
}
